.new-book {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 10px;
  width: 100%;
  max-width: 800px;
}
.new-book form {
  width: 100%;
}
.new-book .input {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.075);
}
.new-book .input label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.new-book .input input:not([type=submit]):not([type=checkbox]), .new-book .input select {
  width: 100%;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  height: 38px;
  padding: 0 10px;
  transition: border 0.5s;
}
.new-book .input input:not([type=submit]):not([type=checkbox]):focus, .new-book .input select:focus {
  outline: 0;
  border-bottom-color: dodgerblue;
}
.new-book .input .preview {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.new-book .input .preview span {
  font-weight: normal;
  display: inline-block;
  margin-right: 10px;
}
